<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <h1>Body Mass Index</h1>
  <div id="app">
    <span>Waga: </span>
      <input type="number" v-model="weight"/> kg<br>
    <span>Wzrost: </span>
      <input type="number" v-model="height"/> cm
    <p>Wskaźnik BMI: {{bmiFun}}</p>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        weight: '',
        height: ''
      },
      computed: {
        bmiFun() {
          return (this.weight)/Math.pow(this.height, 2)
      }
    }});
  </script>

</body>
</html>